<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports - Apuestas</title>
    <link rel="shortcut icon" href="../assets/img/deportesicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../assets/img/deportes.png" width="25" height="25" alt="APUESTAS-FOOBALL-DEPORTES-APUESTAS MORELOS"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./football.html">Football</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./tenis.html">Tenis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="./basketball.html"><u>Basketball</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./volleyball.html">Volleyball</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="text-success">$360</b>
                </div>
            </div>
        </nav>
    </header>

    <!-- Contenido general -->
    <div class="container-fluid">
        <!-- Estructuración -->
        <div class="row my-2">
            <!-- Contenido del sitio -->
            <div class="col-12 col-md-10">
                <section id="apuestas" class="shadow-sm p-2 mb-5 bg-body rounded">
                    <b>Ven y apuesta</b>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <form class="form-group">
                                <div class="row text-center">
                                    <div class="col-5">
                                        <img src="../assets/img/basketball/dallasmavericks.png" class="img-thumbnail"
                                        alt="DALLAS MAVERICKS-DALLAS MAVERICKS ESCUDO-DALLAS MAVERICKS APUESTAS" id="equipos">
                                        <br>
                                        <label for="resultado"><b>Resultado</b></label>
                                        <br>
                                        <input type="number" id="resultado" class="form-control"
                                        placeholder="Escribe el puntaje" required>
                                    </div>
                                    <div class="col-2 text-center justify-content-center align-self-center">
                                        <b>VS</b>
                                    </div>
                                    <div class="col-5">
                                        <img src="../assets/img/basketball/denvernuggets.png" class="img-thumbnail"
                                        alt="DENVER NUGGETS-DENVER NUGGETS APUESTAS" id="equipos">
                                        <br>
                                        <label for="resultado"><b>Resultado</b></label>
                                        <br>
                                        <input type="number" id="resultado" class="form-control"
                                        placeholder="Escribe el puntaje" required>
                                    </div>
                                    <div class="col-12 mt-5 text-center">
                                        <button class="btn btn-primary text-center" type="submit">Apostar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Anuncios -->
            <div class="col-12 col-md-2 p-2">
                <aside>
                    <div class="card">
                        <img src="../assets/img/telcel.png" class="card-img-top img-thumbnail"
                        alt="RECARGAS-TELEFONÍA">
                        <div class="card-body">
                            <h5 class="card-title text-danger text-center">
                                Recarga tu teléfono con múltiples beneficios
                            </h5>
                            <p class="card-text">
                                Nuestra telefonía te ofrece servicios de datos ilimitados a muy bajo costo
                            </p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1">
                        <img src="../assets/img/movistar.png" class="card-img-top img-thumbnail"
                        alt="RECARGAS-TELEFONÍA">
                        <div class="card-body">
                            <h5 class="card-title text-danger text-center">
                                Recarga tu teléfono a bajo costo y de forma rápida
                            </h5>
                            <p class="card-text">
                                Servicio de alta velocidad y planes que se ajustan a tus necesidades
                            </p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Ir</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>


    <script src="../js/bootstrap.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>